.tabela-lista{
    width: 70vw;
    height: 75vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-right: 10px;
    border-radius: 20px;
    text-align: center;
}

.table{
    padding: 0;
    width: 80%;
}

.cabecalho{
  text-transform: uppercase;
  letter-spacing: 3px;
  color:#2b134b;
}

.title{
  font-weight: 800;
  font-size: 20pt;
  background: #00ff88;
  box-shadow: 0px 10px 40px -12px #00ff8052;
  border-radius: 8px 8px 0 0;
}
.leftText {
    text-align: left;
  }
  .centerText {
    text-align: center;
  }
  .rightText {
    text-align: right;
  }

  .oddRow {
    background-color: #f3f3f3;
  }
  .evenRow {
    background-color: #fafafa;
  }

.centerText > img{
    width: 40px;
    height: 40px;
}

.table-item{
  color:#f0ffffde;
  box-shadow: 0px 10px 40px #00000056;
  background:#2f2841;
  font-weight: 400;
  font-size: 20pt;
}

